<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MYSQL Form</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/feedback/css/main-style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="/feedback/js/ajax-insert.js"></script>
    <script src="/feedback/js/date-picker.js"></script>
    
</head>

<body>
    <!--
        Course name
        Competency
        Start & end Date
        Results
        Comments 
        Feedback of lecturer (could be more than 1 lecturer)
        Feedback of course
        Feedback of institute
        Staff Name
        Assigned by
        Cost
        Institute Name
		-->
    <div class="container">
        <h4>Form</h4>
        <form>
            <button id="submit" type="submit" class="sub btn btn-primary">Submit</button>
            <input id="course_name" class="kala form-control" type="text" placeholder="courseName">
            <select id="competency" class="kala form-control">
                <option>Competency</option>
                <option>Default select2</option>
                <option>Default select3</option>
                <option>Default select4</option>
            </select>
            <label>selectStartDate: </label>
            <div id="start_date" class="input-group date datepicker" data-date-format="mm-dd-yyyy">
                <input class="form-control" type="text" />
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
            <label>selectEndDate: </label>
            <div id="end_date" class="input-group date datepicker" data-date-format="mm-dd-yyyy">
                <input class="form-control" type="text" />
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
            </div>
            <div class="slidecontainer">
                <p>Results[0:100]</p>
                <input id="result" type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
            <div class="form-group">
                <label for="comment">Comments:</label>
                <textarea id="comment" class="resizng form-control" rows="4" id="comment"></textarea>
            </div>
            <div class="form-group">
                <label for="feedback_lecturer">feedback_lecturer:</label>
                <textarea id="feedback_lecturer" class="resizng form-control" rows="4" id="comment"></textarea>
            </div>
            <div class="form-group">
                <label for="feedback_course">feedback_course:</label>
                <textarea id="feedback_course" class="resizng form-control" rows="4" id="comment"></textarea>
            </div>
            <div class="form-group">
                <label for="feedback_institute">feedback_institute:</label>
                <textarea id="feedback_institute" class="resizng form-control" rows="4" id="comment"></textarea>
            </div>
            <input id="staff_name" class="kala form-control" type="text" placeholder="Staff Name">
            <input id="assigned_by" class="kala form-control" type="text" placeholder="Assigned by">
            <input id="cost" class="kala form-control" min="0.00" max="1000" pattern="\d*" type="number" placeholder="Cost (with [min, max, only integers])">
            <input id="institute_name" class="kala form-control" type="text" placeholder="Institute Name">
        </form>
    </div>
</body>

</html>